<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>The Different Types of Fields</title>
        <title lang="de-DE">German Titel</title>
        <input-field type="text">
            
            <name>email</name>
                <copyable>true</copyable>
                <label>eMail address</label>
                <label lang="de-DE">E-Mailadresse</label>
                <placeholder>you@example.com</placeholder>
                <defaultValue>you@example.com</defaultValue>
                <placeholder lang="de-DE">du@beispiel.de</placeholder>
                <helpText>Please fill in your personal eMail address</helpText>
                <helpText lang="de-DE">Bitte trage deine persönliche E-Mailadresse ein</helpText>
        </input-field>

        <input-field type="textarea">
            <name>textarea</name>
            <label>Text Area</label>
            <placeholder>Text Area</placeholder>
            <defaultValue>This is Example Plugin</defaultValue>
            <copyable>true</copyable>
        </input-field>
        <input-field type="text-editor">
            <name>texteditor</name>
            <label>TextEditor</label>
            <placeholder>TextEditor</placeholder>
        </input-field>
        <input-field type="url">
            <name>url</name>
            <label>URL</label>
        </input-field>
        <input-field type="password">
            <name>password</name>
            <label>Password</label>
            <placeholder>Password</placeholder>
        </input-field>
        <input-field type="int">
            <name>int</name>
            <label>Integer Number</label>
            <placeholder>Integer Number</placeholder>
        </input-field>
        <input-field type="float">
            <name>float</name>
            <label>Float Number</label>
            <placeholder>Float Number</placeholder>
        </input-field>
        <input-field type="bool">
            <name>bool</name>
            <label>Boolean</label>
        </input-field>
        <input-field type="checkbox">
            <name>checkbox</name>
            <label>CheckBox</label>
        </input-field>
        <input-field type="datetime">
            <name>datetime</name>
            <label>Date Time</label>
        </input-field>
        <input-field type="date">
            <name>date</name>
            <label>Date</label>
        </input-field>
        <input-field type="time">
            <name>time</name>
            <label>Time</label>
        </input-field>
        <input-field type="colorpicker">
            <name>colorpicker</name>
            <label>Color Picker</label>
        </input-field>
        <input-field type="single-select">
            <name>singleselect</name>
            <label>Single Item Select</label>
            <options>
                <option>
                    <id>shopware</id>
                    <name>Shopware</name>
                </option>
                <option>
                    <id>bigcommerce</id>
                    <name>bigcommerce</name>
                </option>
                <option>
                    <id>wordpress</id>
                    <name>wordpress</name>
                </option>
                <option>
                    <id>magento</id>
                    <name>magento</name>
                </option>
            </options>
        </input-field>
        <input-field type="multi-select">
            <name>multiselect</name>
            <label>Multiple Item Select</label>
            <options>
                <option>
                    <id>shopware</id>
                    <name>Shopware</name>
                </option>
                <option>
                    <id>bigcommerce</id>
                    <name>bigcommerce</name>
                </option>
                <option>
                    <id>wordpress</id>
                    <name>wordpress</name>
                </option>
                <option>
                    <id>magento</id>
                    <name>magento</name>
                </option>
            </options>
        </input-field>
    </card>
</config>